/* Calendar */

.date-past {
    background: #ccc;
    cursor: not-allowed;
}
.date-available {
    background: #fff;
    cursor: pointer;
}
.date-selected {
    background: #0c0;
    cursor: pointer;
}
.date-editing {
    background: #A4A4FF;
    cursor: pointer;
}
.date-blocked {
    background: #666;
}
.date-pending {
    background: #ff0;
}
.date-booked {
    background: #f00;
}
.legends-table td {
    width: 20px;
    font-size: 9px;
    padding: 3px;
}
.legend-selected {
    background: #0c0;
}
.legend-blocked {
    background: #666;
}
.legend-pending {
    background: #ff0;
}
.legend-booked {
    background: #f00;
}