.padding-5 {
    padding: 5px;
}
.padding-10 {
    padding: 10px;
}
.padding-15 {
    padding: 15px;
}
.padding-20 {
    padding: 20px;
}
.padding-25 {
    padding: 25px;
}
.image-25 {
    max-width: 25px;
    max-height: 25px;
}
.image-50 {
    max-width: 50px;
    max-height: 50px;
}
.image-75 {
    max-width: 75px;
    max-height: 75px;
}
.image-100 {
    max-width: 100px;
    max-height: 100px;
}
.image-125 {
    max-width: 125px;
    max-height: 125px;
}
.image-150 {
    max-width: 150px;
    max-height: 150px;
}
.image-175 {
    max-width: 175px;
    max-height: 175px;
}
.image-200 {
    max-width: 200px;
    max-height: 200px;
}
.image-225 {
    max-width: 225px;
    max-height: 225px;
}
.image-250 {
    max-width: 250px;
    max-height: 250px;
}
.image-275 {
    max-width: 275px;
    max-height: 275px;
}
.image-300 {
    max-width: 300px;
    max-height: 300px;
}